.counter {
  position: relative;
  border: 2px solid darkblue;
  padding: 30px;
  height: 100px;
  left: 0;
  right: 0;
  margin: 30px auto;
  width: 200px;
}

/* .counter span.value{
    color: blue;
    
} */
.counter .show-clock {
  display: inline-block;
  position: relative;
  bottom: 5px;
  right: 5px;
  font-size: 15px;
  color: lightcoral;
}

.counter .show-clock:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}